<h2>{{user.fullname}}</h2>

<section class='wrapper'>
  <div id="picNname">
    <img src={{user.image_url}} alt="profile picture">
  </div>

  <div id="description">
    <p>{{user.description}}</p>
  </div>


</section>
