<h2>{{user}}</h2>

<section class='wrapper'>
  <div id="picNname">
    <img src="https://image.flaticon.com/icons/png/128/415/415733.png" alt="apple">
  </div>

  <div id="description">
    <p>this is an apple.</p>
  </div>


</section>
