<ul>
  {{#each users}}

         <li>
           <div class ="item">
           <a href={{getLink username}}> <h2 class="title">{{fullname}}</h2> <a/>
          <div class="image"> <img src={{image_url}}></div></div>
         </li>

  {{/each}}
</ul>
